.box1{
    width:350px;
    height:300px;
    overflow: visible;
    border:2px solid black;
    margin:20px;
background-color: goldenrod;
overflow-x: scroll;
overflow-y: scroll;
}
.box2{
    overflow: hidden;
    width:350px;
    height:100px;
    border:2px solid black;
    margin:20px;
    background-color: violet;
}
.box3{
    overflow:auto;
    width:350px;
    height:300px;
    border:2px solid black;
    margin:20px;
    background-color: peru;
}
.box4{
    overflow: scroll;
    width:350px;
    height:300px;
    border:2px solid black;
    margin:20px;
    background-color: greenyellow;
}